/* You can add global styles to this file, and also import other style files */
html {
  // todo add image / video instead
  body {
    margin: 0px;
    background: url('./assets/faction-warfare.jpg');
    background-attachment: fixed;
    background-size: cover;
  }
}
